html 

.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header{
    padding: 27px 0;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}

.header_menu li {
    margin-left: 30px;
}

.header_menu li a :hover {
    color:#80BA4A;
    transition: .3s;
}

#hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
#hero::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.1;
    z-index: 1;

    .hero_innner{
        z-index: 2;
        color: azure;
        background-color: #80BA4A;
        width: 100%;
        text-align: center;
    }
}