html 

.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header{
    padding: 27px 0;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}

.header_menu li {
    margin-left: 30px;
}

.header_menu li a :hover {
    color:#80BA4A;
    transition: .3s;
}

#hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
#hero::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.1;
    z-index: 1;

    .hero_innner h1{
        z-index: 2;
        color: azure;
        background-color: #80BA4A;
        width: 100%;
        text-align: center;
    }
}

#concept h3{
    margin-bottom: 120px;

}

.colum-2{
    width: 48%;
}

.text{
    line-height: 2;
}

.concept-img{
    background-image: url(./big-photo0000-4103.jpg);
    background-position: center;
    background-size: cover;
    height: 340px;
    border-radius: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: solid 2px #595959;
}
td, th {
    padding: 5px;
    width: 200px;
    border: solid 1px #595959;
}
td{
    vertical-align: middle;
    text-align: center;
}
th {
    background: antiquewhite;
}

div.naiyou{
    max-width: 1120px;
    min-width: 640px;
    margin: 0 auto;
    text-align: center;
}
div.naiyou img { width: 90%; }

.jumplink{
    font-size: 40px;
}
.jumplink2{
    font-size: 32px;
}

div.naiyou2{
    max-width: 480px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}
div.naiyou2 img { width: 90%; }
