body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: large;
}
header {
    background-color: #1cda22;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: center;
}
.facility {
    margin-bottom: 20px;
}
.facility img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}
.facility p {
    color: #353535;
    line-height: 1.6;
    margin-bottom: 50px;
}

html 
.cont{
    width: 90%;
    max-width: 1120px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header{
    padding: 27px 0;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}