.seat-container {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: auto;
}
.seat {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    cursor: not-allowed;
}
.seat.occupied {
    background-color: red;
}
.empty-space {
    width: 30px;
    height: 30px;
}

button {
    position: fixed; /* 画面に固定 */
    bottom: 28px; /* 下から20pxの位置 */
    left: 28px; /* 左から20pxの位置 */
    width: 100px; /* 幅70px */
    height: 100px; /* 高さ70px */
    background-color: lightblue; /* 背景色を水色に */
    color: rgb(234, 254, 81); /* テキストの色を白に */
    border: none; /* 境界線をなくす */
    border-radius: 50%; /* 丸い形にする */
    font-size: 32px; /* テキストサイズを32pxに */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* コンテンツを縦方向の中央に配置 */
    justify-content: center; /* コンテンツを水平方向の中央に配置 */
    cursor: pointer; /* カーソルをポインタに */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.545); /* 軽い影を追加 */
    z-index: 1000; /* 他の要素の上に表示 */
}

h1 {
    text-align: center;
}