.seat-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: auto;
}
.seat {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    cursor: not-allowed;
}
.seat.occupied {
    background-color: red;
}
.empty-space {
    width: 30px;
    height: 30px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}