.seat-container {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: auto;
}
.seat {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    cursor: not-allowed;
}
.seat.occupied {
    background-color: red;
}
.empty-space {
    width: 30px;
    height: 30px;
}

button {
    position: fixed; /* 画面全体に固定 */
    top: 0;
    left: 0;
    width: 100vw; /* ビューポートの全幅 */
    height: 100vh; /* ビューポートの全高 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    color: white;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999; /* 他の要素の上に表示 */
}

h1 {
    text-align: center;
}