body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('津田沼駅橋上Top画像.jpg'); /* 背景画像のパス */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* 背景を半透明にする */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #444;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .menu-header, .menu-row {
    display: flex;
  }
  
  .menu-cell {
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-header .menu-cell {
    font-weight: bold;
    background-color: #f4f4f4;
  }
  
  .menu-cell img {
    max-width: 100px;
    height: auto;
    display: block;
  }

  button {
    position: fixed; /* 画面に固定 */
    bottom: 32px; /* 下からの位置 */
    left: 32px; /* 左からの位置 */
    width: 100px; /* 幅 */
    height: 100px; /* 高さ */
    background-color: rgb(105, 198, 229); /* 背景色を水色に */
    color: rgb(255, 149, 0); /* テキストの色を白に */
    border: none; /* 境界線をなくす */
    border-radius: 50%; /* 丸い形にする */
    font-size: 32px; /* テキストサイズを32pxに */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* コンテンツを縦方向の中央に配置 */
    justify-content: center; /* コンテンツを水平方向の中央に配置 */
    cursor: pointer; /* カーソルをポインタに */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.64); /* 軽い影を追加 */
    z-index: 1000; /* 他の要素の上に表示 */